


/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
body {
  background-color: #333333;
}
@font-face {
  font-family: 'Roboto';
  src: url('/font/Roboto-Bold.ttf') format('ttf');
  font-weight: bold;
}


.marge5 {
  margin-top:5%;
}
.marginl15 {
  margin-left:15%;
}
.marginl10 {
  margin-left:10%;
}


/* Entête */

.sections{
  padding-top: 5vw;
  text-align: center;

}
.sections  span{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
Header {
  position : fixed;
  z-index:100;
  background-color: #333333;
  top:0px

}
@keyframes sectionAnim {
    from {font-size:1vw; color: #FFFFFF}
    to {font-size:1.5vw; color: #b99458}
}
@keyframes sectionAnim2 {
    to {font-size:1vw; color: #FFFFFF}
    from {font-size:1.5vw; color: #b99458}
}
.mouseOver {
  animation-name: sectionAnim;
  animation-duration: 0.4s;
  font-size:1.5vw;
  color: #b99458
}
.mouseOut {
  animation-name: sectionAnim2;
  animation-duration: 0.4s;
  font-size:1vw;
  color: #FFFFFF
}


/* Accueil */
.Accueil {
  margin-top: 12%;
}
@keyframes missionAnim {
    from {transform: rotate(0deg); right: -30%}
    to {transform: rotate(-90deg); right: 10% }
}
@keyframes missionAnimI {  /* animation de l'image */
    from {right:100%;}
    to {right:0%;}
}
.imageM {
  animation-name: missionAnimI;
  animation-duration: 1.5s;
  position:relative;
}
 @keyframes titreAnimation {
    from {left:20%; opacity: 0; }
    to {left:0%; opacity: 1; }
}
.titreA {
  color:#b99458;
  font-size: 3vw;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  position:relative;

  animation-name: titreAnimation;
  animation-duration: 1s;
  /* position:absolt; */

}
.missionT {
  color: #b99458;
  font-size:5.5vw;
  transform: rotate(-90deg);
  position:absolute;
  right:10%;
  bottom:20%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  animation-name: missionAnim;
  animation-duration: 1.5s;
}

@keyframes textAnimation {
   from {transform: translateY(3vw); opacity: 0;}
   to {transform: translateY(0vw); opacity: 1;}
}
@keyframes emptyAnim {
   from { opacity: 0;}
   to { opacity: 0;}
}
.descriptionP {
  color:#FFFFFF;
  font-size: 1.3vw;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  position:relative;
  animation-name: textAnimation;
  animation-duration: 1.5s;
  background-color: red;
}
.far {
  opacity:0;
}
.margint10 {
  margin-top:10vw;
}
