


/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

@font-face {
font-family: 'Roboto';
src: url('/font/Roboto-Bold.ttf') format('ttf');
font-weight: bold;
}

header {
}
body {
  background-color: #333333;
}
span {
  color:red;
}
.sections{
  margin-top: 15px;
  text-align: center;
}
.sections  span{
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.summary{
  margin-top: 15px;
}
Header {
  /* position : fixed; */
}
@keyframes example {
    from {left: 500px; opacity:0}
    to {left:0px; opacity:1}
}
@keyframes sectionAnim {
    from {font-size:1vw; color: #FFFFFF}
    to {font-size:1.5vw; color: #ad8900}
}
@keyframes sectionAnim2 {
    to {font-size:1vw; color: #FFFFFF}
    from {font-size:1.5vw; color: #ad8900}
}

.block{
  color:white;
  background-color: red;
  /* position:relative; */
    animation-name: example;
    animation-duration: 1.4s;
}
.l {
  background-color:red;
}
.mouseOver {
  animation-name: sectionAnim;
  animation-duration: 0.4s;
  font-size:1.5vw;
  color: #ad8900
}
.mouseOut {
  animation-name: sectionAnim2;
  animation-duration: 0.4s;
  font-size:100%;
  color: #FFFFFF
}
.Accueil {
  margin-top: 5%;

}
@keyframes missionAnim {
    from {transform: rotate(0deg); right: 0%}
    to {transform: rotate(-90deg); right: 10% }
}
@keyframes missionAnimI {
    from {right:100%;}
    to {right:20%;}
}
.imageM {
  animation-name: missionAnimI;
  animation-duration: 1.5s;
  right:20%;
  position:absolute
}
@keyframes titreAnimation {
    from {left:20%; opacity: 0;}
    to {left:0%; opacity: 1;}
}
.titreA {
  color:#ad8900;
  font-size: 3vw;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

  animation-name: titreAnimation;
  animation-duration: 1s;
  position:relative

}
.missionT {
  color: #ad8900;
  font-size:5vw;
  transform: rotate(-90deg);
  position:absolute;
  right:10%;
  bottom:20%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  animation-name: missionAnim;
  animation-duration: 1.5s;
}
.marge5 {
  margin-top:5%;

}
